.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.menu {
    font-size: 15px;
}

.menu ul:first-child {
    margin-right: -30px;
}

.menu ul li a {
    padding: 2px;
}

.menu input {
    margin-right: -360px;
    width: 160px;
}

.menu>a>i {
    margin-right: -400px;
}

.tablig {
    height: auto;

}

.tablig img {
    width: 28.3%;
    margin: 2vw
}

.tablig img:nth-child(7),
.tablig img:nth-child(8) {
    display: none;
}



.update1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 20px;
    width: 80vw;
    height: 300px;
}

.update1 a span {
    font-size: 3vw;
}

.update1 img {
    width: 7vw;
    margin-left: 0px;
    margin-top: -8px;
}

.update1 div {
    height: 5vw;
}

.update2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 20px;
    width: 80vw;
    height: 300px;
}

.update2 a span {
    font-size: 3vw;
}

.update2 img {
    width: 7vw;
    margin-left: 0px;
    margin-top: -8px;
}

.update2 div {
    height: 5vw;
}

fieldset {
    font-size: 5vw;
}

.app {

    width: 93vw;
    height: 57vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}

.app-name {
    width: 83.4vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.app-name h3 {
    font-size: 4.5vw;
}

.app img {
    width: 20vw;
}

.app-info {
    width: 66vw;
    font-size: 2.7vw;
}


.dow {
    direction: ltr;
    margin-left: 38vw;
    margin-top: 43vw;
    font-size: 2vw;
}

.seen {
    direction: ltr;
    margin-left: 48vw;
    margin-top: -2.2vw;
    font-size: 2vw;
}

.app button {
    top: 50vw;
    left: 3vw;
    width: 17vw;
}

.app button a {
    font-size: 2.5vw;
    font-weight: bold;
}

.tablig2 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    float: none;
}

.tablig3 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    float: none;
}

.tablig2 img {
    width: 45%;
    margin: 2vw;
}

.tablig3 img {
    width: 45%;
    margin: 2vw;
}

.page-num {
    font-size: 3vw;
    text-align: center;
    padding: 0;
    margin-right: 0;
}

.page-num li:hover {
    background-color: #1976D2;
    font-size: 2.5vw;
}

.div-page-num {
    width: 88.6vw;
    margin-left: auto;
    margin-right: auto;
}

.img-footer {
    width: 100vw;
    height: 35vw;
    margin-right: -8px;
    margin-bottom: -13px;
    z-index: 0;
}

footer img:nth-child(2) {
    position: static;
    width: 27vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18vw;
}

.enamad {
    margin-top: -17vw;
    position: static;
    width: 12vw;
    margin-right: 79vw;
}

footer ul {
    position: static;
    font-size: 2vw;
    margin-top: -95px;
    margin-right: -4vw;
}

footer ul li:nth-child(1) {
    font-size: 3.5vw;
    margin-right: -3vw;
}

.num,
.email {
    position: static;
    font-size: 2vw;
}

#phone {
    position: static;
    font-size: 2vw;
}

#envelope {
    position: static;
    font-size: 2vw;
}

footer .d-copyriwt {
    width: 39vw;
    position: absolute;
    left: 44vw;
    right: 33vw;
    margin-top: 14px;
}

footer .copyriwt {
    position: static;
    text-align: center;
    font-size: 2vw;
}

footer .copyriwt a {
    font-size: 2.3vw;
}